
<div style="display: flex;">
{{>admin-nav  }}


<div class="right-box">

    {{#if sessionFlash.message}}
<div class="{{sessionFlash.type}}">{{sessionFlash.message}}</div>
{{/if}}




<div>
    <div >
    <h3>Ürün Ekle</h3>
<form action="/admin/urun" method="POST" enctype="multipart/form-data">

 <div class="form-group">
    <label for="exampleFormControlInput1">Ürün adı</label>
    <input type="text" name="name" class="form-control" id="exampleFormControlInput1" placeholder="Ürün adı...">
  </div>

  <div class="form-group">
    <label for="exampleFormControlInput1">Ürün Kısa Başlık</label>
    <input type="text" name="title" class="form-control" id="exampleFormControlInput1" placeholder="Lorem İpsum........">
  </div>
    <div class="form-group">
    <label for="exampleFormControlInput1">Ürün Kısa Açıklama</label>
    <input type="text" name="explanation" class="form-control" id="exampleFormControlInput1" placeholder="Ürün kısa açıklama">
  </div>

    <div class="form-group">
    <label for="exampleFormControlInput1">Akardion1 Başlık</label>
    <input type="text" name="akordion1Title" class="form-control" id="exampleFormControlInput1" placeholder="Akordion Başlık1">
  </div>
   <div class="form-group">
    <label for="exampleFormControlInput1">Akardion1 Açıklama</label>
    <input type="text" name="akordion1explanation" class="form-control" id="exampleFormControlInput1" placeholder="Akordion Açıklama1">
  </div>

      <div class="form-group">
    <label for="exampleFormControlInput1">Akardion2 Başlık</label>
    <input type="text" name="akordion2Title" class="form-control" id="exampleFormControlInput1" placeholder="Akordion Başlık2">
  </div>
   <div class="form-group">
    <label for="exampleFormControlInput1">Akardion2 Açıklama</label>
    <input type="text" name="akordion2explanation" class="form-control" id="exampleFormControlInput1" placeholder="Akordion Açıklama2">
  </div>

     <div class="form-group">
    <label for="exampleFormControlInput1">Akardion3 Başlık</label>
    <input type="text" name="akordion3Title" class="form-control" id="exampleFormControlInput1" placeholder="Akordion Başlık3">
  </div>
   <div class="form-group">
    <label for="exampleFormControlInput1">Akardion3 Açıklama</label>
    <input type="text" name="akordion3explanation" class="form-control" id="exampleFormControlInput1" placeholder="Akordion Açıklama3">
  </div>

   <div class="form-group">
    <label for="exampleFormControlInput1">Price</label>
    <input type="text" name="price" class="form-control" id="exampleFormControlInput1" placeholder="Price">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">date</label>
    <input type="text" name="date" class="form-control" id="exampleFormControlInput1" placeholder="date">
  </div>

 <div class="form-group">
    <label for="exampleFormControlInput1">Garanti</label>
    <input type="text" name="garanti" class="form-control" id="exampleFormControlInput1" placeholder="Garanti">
  </div>

 <div class="form-group">
    <label for="exampleFormControlInput1">iade</label>
    <input type="text" name="iade" class="form-control" id="exampleFormControlInput1" placeholder="iade">
  </div>


  <div class="form-group">
    <label for="exampleFormControlInput1">Buton adı</label>
    <input type="text" name="btnname" class="form-control" id="exampleFormControlInput1" placeholder="Buton adı">
  </div>

<div class="form-group">
    <label for="exampleFormControlTextarea1">Ürün İle ilgili geniş yazı</label>
    <textarea id="textare" name="wideText" class="form-control"  rows="8"></textarea>
  </div>
<br>
<input type="file" name="images">
<br><br>
<button id="haberbtn" type="submit">ekle</button>

</form> 

</div>



<div>
     <h3>Yayında Olan Ürünler</h3>
     <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">İd</th>
      <th scope="col">Ad</th>
      <th scope="col">Sil</th>
    </tr>
  </thead>
  <tbody>
    {{#each urun}}
    <tr>
      <th scope="row">1</th>
      <td>{{this.id}}</td>
      <td>{{this.name}}</td>
      <td><form action="/admin/urun/{{this.id}}?_method=DELETE" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <button type="submit" class="btn btn-danger">Sil</button>
      </form></td>

     
    </tr>
   {{/each}}
  </tbody>
</table>
</div>

</div>


</div>


</div>