{{> site-nav}}
{{!-- <div class="haber-row-box">
        <img src="{{haberdetay.images}}" alt="">
        <div>
          <p>{{haberdetay.tittle}}</p>
           <p>{{haberdetay.admintext}}</p>
           <p>{{haberdetay.videourl}}</p>

          <span>LGA SİSTEM ELEKTRONİK</span>
          <a href="#">Diğer haberler</a>


        </div>
      </div> --}}


      
      <div class="haberDetay container">
       
 <img src="{{haberdetay.images}}" alt="">

     
 <h3>{{haberdetay.tittle}}</h3>
             <p>{{haberdetay.admintext}}</p>   

      </div>
<br><br><br>

{{> site-footer}}
